.contact{
    
}


.contactContain{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align:center;
    margin: 50px 0 0;
    position: relative;
    
}

.contactText{
    color:var(--text-color);
    width: 650px;
    margin-bottom: 60px;
}

.item1{
    grid-area: a;
 
}
.item2{
    grid-area: b;
    
}
.item3{
    grid-area: c;
   
}
.item4{
    grid-area: d;

}


.contactCards{
    display: grid;
    gap:20px;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(2,200px);
    width: 800px;
     grid-template-areas:
    "a b c"
    ". d .";
    align-content: center;
    justify-content: center;
    text-align:center;
}

.contactCard{
    background-color:var(--container-color);
    border-radius: 15px;
    color:var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    transition: all .8s ease;
}

.contactContain .download{
    position: absolute;
    bottom: 0px;
    left: 0;
}

.contactCard  .contactCardIcon{
    font-size: 3rem;
    margin-bottom: 10px;
}

.contactCard:hover{
    color: var(--first-color);
    transform: scale(1.1);
}

@media screen and (max-width:750px){

.contactCards{
    grid-template-columns: repeat(2,1fr);
    width: 90%;
    padding-bottom: 100px;
     grid-template-areas:
    "a b "
    "c d ";
    
}

.contactContain .download{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.contactCard{
    max-width: 300px;
    max-height: 180px;
}


.contactText{
    width: 90%;
}

}