.sidebar {
  background-color: var(--line-color);
  color: var(--text-color);
  height: 100%;
  width: 100%;
}

.sidebarAll {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  background-color: var(--body-color);
}

.sidebarTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebarTop,
.sidebarMedium {
  margin: 35px auto;
  text-align: center;
  color: var(--title-color);
}

.sidebarTop .SidebarTopImg {
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
  background-color: var(--text-color);
  overflow: hidden;
}

.sidebarImg {
  transform: scale(1.3);
  padding-top: 7px;
  object-fit: cover;
}

.sidebarTop .nombre {
  font-size: 1.3rem;
  cursor: pointer;
}

.sidebarTop .nombre span {
  display: block;
  color: var(--first-color);
}

.sidebarItems .active .sidebarItem {
  background-color: var(--container-color);
  border-right: 2px solid var(--first-color);
}

.sidebarItem {
  font-size: 0.9rem;
  color: var(--text-color);
  margin-top: -0.8px;
  padding: 10px 0;
  border-top: 1px solid var(--container-color);
  border-bottom: 1px solid var(--container-color);
  border-right: 2px solid var(--body-color);
  cursor: pointer;
  font-weight: 500;
}

.sidebarItem:hover {
  background-color: var(--container-color);
  border-right: 2px solid var(--text-color);
}

.sidebarIcons {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-bottom: 2rem;
}

.sidebarIcons .sidebarLink {
  background-color: var(--container-color);
  height: 35px;
  width: 35px;
  margin: 0 10px;
  color: var(--text-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s;
}

.sidebarIcons .sidebarLink:hover {
  background-color: var(--first-color);
  color: #fff;
}

.sidebarRights {
  margin: 0 20px;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 5px;
  color: #555;
}

@media screen and (max-width: 900px) {
  .sidebarTop img {
    margin-top: -15px;
    height: 120px;
    width: 120px;
  }
  .sidebarItem {
    font-size: 1.2rem;
  }

  .sidebarIcons {
    font-size: 30px;
  }

  .sidebarIcons .sidebarLink {
    height: 40px;
    width: 40px;
  }
}
